<% provide(:title, @question.content) %>
<div class="showquestion">
	<% @question.tags.any? %>
			<% @question.tags.each do |tag| %>
					<h5><%= link_to tag.name, tagged_url(:tag => tag.name), class: "btn btn-primary" %></h5>
						<% end %>
			<div id="questionshow">
					<h2><%= @question.content %></h2>
					<p><%= @question.morecontent %></p>
					<h5>Asker: <%= link_to @question.user.name, users_showpage_path(:id => @user.id) %>
							Followers: <%= render 'followerstats' %></h5>
			<% if signed_in? %>
							<%= render 'follow_form' %>
			<% else %>
							<%= link_to "Follow", new_session_path, class: "btn btn-success custom" %>
			<% end %>
  		<% if current_user?(@question.user) %>
	       			<%= link_to edit_question_path(@question) do %>
	       			<span class="glyphicon glyphicon-edit"><span>
	 		<% end %>
	       			<%= link_to root_url, method: :delete,
                            data: { confirm: "You sure?" } do %>
          		<span class="glyphicon glyphicon-trash"></span>
	 		<% end %>
	 		<% end %>
							<%= render 'shared/answer_form' %>
							<%= pluralize(@question.answers.count, "answer") %></br></br>
						  <% @question.answers.each do |answer| %>
							<%= link_to like_question_answer_path(:question_id => @question.id, :id => answer.id), method: :put do %>
  	  		    <span class="glyphicon glyphicon-thumbs-up"></span>
	    <% end %>
							<%= answer.get_likes.size %>
							<%= link_to answer.user.name, users_showpage_path(:id => @user.id) %>
							<%= link_to dislike_question_answer_path(:question_id => @question.id, :id => answer.id), method: :put do %>
				 			<span class="glyphicon glyphicon-thumbs-down"></span>
	    <% end %>
							<%= answer.get_dislikes.size %>
							<div class="answer">
								<p><%= answer.answer_content %></p>
							</div>
			<% end %>
		</div>

<div id="relatedtoshowquestion">
	<h2>RELATED QUESTIONS</h2>
			<% @question.find_related_on_tags.find(:all, :limit =>5).each do |question| %>
			<p><%= link_to truncate(question.content, :length => 50), user_question_path(:email => question.user.id, :id => question.id) %></br>
				<%= pluralize(question.answers.count, "answer") %>
				<%= time_ago_in_words(question.created_at) %> ago</p>
			<% end %>
</div>
</div>