<% provide(:title, 'All Questions') %>

<div class="indexparent">

    <h2>Latest <%= params[:tag] %></h2>
   <% @questions.each do |question| %>
   <div id="questionindex">
      <h3>
        <%= link_to question.content, user_question_path(:email => question.user.id, :id => question.id) %>
      </h3>
        <h5>
          <% question.tags.any? %>
            Category:
          <% question.tags.each do |tag| %>
          <%= link_to tag.name, tagged_url(:tag => tag.name) %>
            <% end %>
        </h5>
      <p> Created: <%= time_ago_in_words(question.created_at) %> ago,
      Followers: <%= question.followers.count %>,
      Answers: <%= question.answers.count %>,
      Asker: <%= link_to question.user.name, users_showpage_path(:id => question.user.id) %>
      <% if current_user.admin? && !current_user?(question) %>
       <%= link_to 'Edit', edit_question_path(question) %>
       <%= link_to "Delete", question, method: :delete,
                                        data: { confirm: "You sure?" } %></p>
       <% end %>
       </div>
   <% end %>

<div id="articlequestionsindex">
    <h2>Latest Articles</h2>
      <% @articles.find(:all, :limit => 5).each do |article| %>
      <div class="latestarticles">
        <p><%= link_to truncate(article.title, :length => 50), article_path(:id => article.id) %>
          <%= article.sectionones.count + article.sectiontwos.count + article.sectionthrees.count + article.sectionfours.count %> Comments</p>
      </div>
       <% end %>
    </div>

</div>
<%= will_paginate @questions, renderer: BootstrapPagination::Rails %>