<% provide(:title, 'All Questions') %>
 <div class="Index">
    <h2> Latest <%= params[:tag] %> Questions</h2>
   <% @questions.each do |question| %>
   <div class="questionindex">
      <h3>
        <%= link_to question.content, user_question_path(:email => question.user.id, :id => question.id) %>
      </h3>
    </div>
      <p> Created: <%= time_ago_in_words(question.created_at) %> ago,
      Followers: <%= question.followers.count %>,
      Answers: <%= question.answers.count %>,
      Asker: <%= link_to question.user.name, users_showpage_path(:id => question.user.id) %>
      <% if current_user?(question.user) %>
       <%= link_to 'Edit', edit_question_path(question) %>
       <%= link_to "Delete", question, method: :delete,
                                        data: { confirm: "You sure?" } %></p>
       <% end %>
   <% end %>

</div>