<div class="widthcontroller">
  <div id="complaint">
	 <form role="form">
     <div class="form-group">
       <label for="complaintform"><h3 class="index">Got a Brand Problem?</h3></label>
         <input type="name" class="form-control" id="complaintform" placeholder="Let us know with whom">
          <button type="submit" class="btn btn-primary morebutton"><%= link_to "Resolve my complaint", "http://www.akosha.com", :target => "_blank" %> </button>
     </div>
    </form>
	<div class="Forumbar">
     <% if signed_in? %>
       <h3>Ask a Question</h3>
        <aside class="span4">
        	<section>
           <%= render 'shared/user_info' %>
          </section>
          <section>
           <%= form_for(@question) do |f| %>
	    		  <%= render 'shared/error_messages', object: f.object %>
	   		  <div class="homepageform">
		  	    <%= f.text_area :content, placeholder: "Compose new question...", class: "form-controlhome" %>
				    <%= f.text_area :morecontent, placeholder: "Got more to add?", class: "form-controlhome" %></br>
						<%= f.select :tag_list, options_for_select(["Auto", "Finance", "Online Shopping", "Telecom", "Technology", "Travel"]) %></br></br>
				  	<%= f.submit "Post", class: "btn btn-primary formbutton" %>
				  </div>
		<% end %>
           </section>
          </aside>
  </div>
    <% else %>
   <div class="Community-Support">
      <h3>Community Support</h3>
        <%= form_for(:session, url: sessions_path) do |f| %>
        <%= f.text_field :email %>
        <%= f.password_field :password %>
        <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
        <h5><%= link_to "Not a member? Sign up", signup_path %> </h5>
   </div>
    <% end %>
     </div>
    <div class="hotanswers">
        <h3> Top user tips</h3>
        <% @answer.find(:all, :limit => 5).each do |answer| %>
      <div class="topusertips">
        <p><%= truncate(answer.answer_content, :length => 50) %>
        <%= link_to ">>", user_question_path(:email => answer.id, :id => answer.question_id) %>
        Score: <%= answer.cached_weighted_score %></p>
      </div>
    <% end %>
   </div>

</div>

  <div class="buttontitle">
    <h4><%= link_to "Latest Articles", articles_path %>
    </h4>
  </div>
  <div id="latestarticles" class="transitions-enabled">
    <% @articles.find(:all, :limit => 3).each do |article| %>
      <div class="articlepos">
        <p><%= image_tag article.image.url(:thumb) %></p>
        <h3><%= link_to truncate(article.title, :length => 45), article_path(:id => article.id) %></h3>
      </div>
      <% end %>
  </div>

  <div class="buttontitletwo">
    <h4><%= link_to "Latest Questions", questions_path %></h4>
  </div>
  <div class="widthtest">
  <div id="latestquestions" class="transitions-enabled">
    <% @questions.find(:all, :limit => 15).each do |question| %>
      <div class="questionpos">
        <h3><%= link_to question.content, user_question_path(:email => question.user.id, :id => question.id) %></h3>
        <h5><%= truncate(question.morecontent, :length => 70) %></h5>
        <p> <%= time_ago_in_words(question.created_at) %> ago </p>
      </div>
    <% end %>
  </div>
</div>
</div>