<div class="widthcontrollertrial">
  <h4><%= link_to "Latest Articles", articles_path, class: "btn btn-primary articlebutton" %></h4>
  <div id="latestarticlestrial">
    <% @articles.find(:all, :limit => 1, :offset => 5).each do |article| %>
        <div class="articlepostrial">
          <h5 class="btn btn-danger tag"><%= article.tag_list %></h5>
          <h2><%= link_to image_tag("family.jpg", :alt => "clubmahindra"), article_path(:id => article.id) %></h2>
          <h3><%= link_to truncate(article.title, :length => 45), article_path(:id => article.id) %></h3>
          <h4><%= truncate(article.deck, :length => 150) %></h4>
        </div>
      <% end %>
    <% @articles.find(:all, :limit => 2, :offset => 4).each do |article| %>
        <div class="articlepostrialtwo">
          <h4 class="tagtwo"><%= article.tag_list %></h4></br></br>
          <h3><%= link_to truncate(article.title, :length => 45), article_path(:id => article.id) %></h3>
          <h5><%= truncate(article.deck, :length => 90) %></h5>
        </div>
      <% end %>
  </div>
  <div id="complainttrial">
    <form role="formtrial">
     <div class="form-grouptrial">
      <h4><span class="glyphicon glyphicon-pushpin"></span>
        CONSUMER COMPLAINTS</h4>
      <h5>10 lakh filed <span class="colourbar">|</span> 61% resolved</h5>
         <input type="name" class="form-controltrial" id="complaintformtrial" placeholder="Which brand have you a complaint against?">
          <h5><%= link_to "File now!", "http://www.akosha.com", class: "btn btn-primary morebutton" %></h5>
          <h5>350+ brands active on Akosha</h5>
          <ul class="brandlist">
          <li><%= image_tag("aircel.jpg", :alt => "Aircel") %></li>
          <li><%= image_tag("groupon.jpg", :alt => "Groupon") %></li>
          <li><%= image_tag("voltas.jpg", :alt => "Voltas") %></li>
          <li><%= image_tag("makemytrip.jpg", :alt => "makemytrip") %></li>
          <li><%= image_tag("micromax.jpg", :alt => "Micromax") %></li>
          <li><%= image_tag("snapdeal.jpg", :alt => "Snapdeal") %></li>
        </ul>
     </div>
    </form>
  </div>
</div>
<div class="widthcontrollermiddle">
  <div id="latestarticlesmiddle">
    <div class="floattest">
    <% @articles.find(:all, :limit => 2, :offset => 4).each do |article| %>
        <div class="articleposmiddle">
          <h5 class="tagthree"><%= article.tag_list %></h5></br></br>
          <h3><%= link_to truncate(article.title, :length => 45), article_path(:id => article.id) %></h3>
          <h6><%= truncate(article.deck, :length => 140) %></h6>
        </div>
      <% end %>
      </div>
        <% if signed_in? %>
        <div class="articleposmiddletwo">
          <%= link_to image_tag("micromaxsurvey.jpg", :alt => "Micromax Survey"), new_survey_path %>
        </div>
          <% else %>
        <div class="articleposmiddletwo">
          <%= link_to image_tag("micromaxsurvey.jpg", :alt => "Micromax Survey"), signup_path %>
        </div>
        <% end %>
  </div>
  <div id="complaintmiddle">
         <% if signed_in? %>
      <h3><span class="glyphicon glyphicon-plus-sign"></span>
        ASK A QUESTION</h3></br>
           <h6><%= render 'shared/user_info' %></h6>
           <%= form_for(@question) do |f| %>
            <h5><%= render 'shared/error_messages', object: f.object %></h5>
          <div class="homepageform">
            <%= f.text_area :content, placeholder: "Compose new question...", class: "form-controlhome" %>
            <%= f.text_area :morecontent, placeholder: "Got more to add?", class: "form-controlhome" %></br>
            <%= f.select :tag_list, options_for_select(["Auto", "Finance", "Online Shopping", "Telecom", "Technology", "Travel"]) %></br></br>
            <%= f.submit "Post", class: "btn btn-success postbutton" %>
          </div>
    <% end %>
           </section>
          </aside>
  </div>
    <% else %>
   <div class="Community-Support">
      <h4><span class="glyphicon glyphicon-bullhorn"></span>
        COMMUNITY SUPPORT
        </h4>
       <h5>7,221 Questions <span class="colourbar">|</span> 23,572 Answers</h5>
        <%= form_for(:session, url: sessions_path) do |f| %>
        <div class="homepageformtwo">
        <%= f.label :email, class: "form-controlhome" %></br>
        <%= f.text_field :email, class: "form-controlhome" %></br>
        <%= f.label :password, class: "form-controlhome" %></br>
        <%= f.password_field :password, class: "form-controlhome" %>
        <%= f.submit "Sign in", class: "btn btn-success" %>
      </div>
    <% end %>
        <h6><%= link_to "Not a member? Sign up", signup_path %> </h6>
   </div>
  </div>
      <% end %>
</div>
<div class="widthcontrollerbottom">
  <h4><%= link_to "Latest Questions", questions_path, class: "btn btn-primary questionbutton" %></h4>
  <div id="latestquestionstrial">
    <% @questions.find(:all, :limit => 12).each do |question| %>
        <div class="questionpostrial">
          <h5 class="tagfour"><%= question.tag_list %></h5></br></br>
          <h4><%= link_to question.content, user_question_path(:email => question.user.id, :id => question.id) %></h4>
          <h6><%= truncate(question.morecontent, :length => 90) %></h6>
          <h3><%= time_ago_in_words(question.created_at) %> ago</h3>
        </div>
      <% end %>
  </div>
  <div id="hotanswers">
        <h3><span class="glyphicon glyphicon-stats"></span> TOP USER TIPS</h3>
        <% @answer.find(:all, :limit => 5).each do |answer| %>
      <div class="topusertips">
        <p><%= link_to truncate(answer.answer_content, :length => 50), user_question_path(:email => answer.id, :id => answer.question_id) %>
          Score: <%= answer.cached_weighted_score %></p>
        <h6><%= answer.user.name %></h6>
      </div>
    <% end %>
   </div>
</div>