<% provide(:title, 'All Articles') %>
    <div class="latestquestions">
        <h2>Latest Questions</h2>
        <% @questions.find(:all, :limit => 5).each do |question| %>
            <p><%= link_to truncate(question.content, :length => 50), user_question_path(:email => question.user.id, :id => question.id) %>
            <%= question.user.name %>
            <%= pluralize(question.answers.count, "answers") %></p>
        <% end %>
    </div>

<div class="Index">
    <h2>Latest Articles</h2>
    <% @articles.each do |article| %>
    <div class="articleindex">
        <div class="articleimage">
            <%= image_tag article.image.url(:thumb) %>
        </div>

        <h3>
            <%= link_to article.title, article_path(:id => article.id) %>
        </h3>
      <div class="tagarticleindex">
        <h5>
        <% article.tags.any? %>
        Category:
          <% article.tags.each do |tag| %>
          <%= link_to tag.name, categorised_url(:tag => tag.name) %>
        <% end %>
        </h5>
      </div>
        <h6><%= time_ago_in_words(article.created_at) %> ago </h6>
        <p><%= article.headingone %></p>
        <h6><%= pluralize(article.sectionones.count, "comment") %></h6>
        <p><%= article.headingtwo %></p>
        <h6><%= pluralize(article.sectiontwos.count, "comment") %></h6>
        <p><%= article.headingthree %></p>
        <h6><%= pluralize(article.sectionthrees.count, "comment") %></h6>
        <p><%= article.headingfour %></p>
        <h6><%= pluralize(article.sectionfours.count, "comment") %></h6>
    </div>
<% end %>
</div>
