<% provide(:title, 'All Articles') %>

<div class="articleindexparent">

    <div id="articlebox">
            <h1>Latest Articles</h1>
        <% @articles.each do |article| %>
            <div class="articleindex">
                <%= image_tag article.image.url(:thumb) %>
                <h2><%= link_to article.title, article_path(:id => article.id) %></h2>
                <h4><%= article.tag_list %></h4>
                <h6><%= time_ago_in_words(article.created_at) %> ago </h6>
                <h3> <%= article.headingone %> </br>
                    <%= article.headingtwo %> </br>
                    <%= article.headingthree %> </br>
                    <%= article.headingfour %></h3>
                <p><%= pluralize(article.sectionones.count + article.sectiontwos.count + article.sectionthrees.count + article.sectionfours.count, "comment") %></p>
            </div>
        <% end %>
    </div>
            <div id="latestquestions">
                <h2>LATEST QUESTIONS</h2>
                <% @questions.find(:all, :limit => 5).each do |question| %>
                <div class="questionscontent">
                    <p><%= link_to truncate(question.content, :length => 50), user_question_path(:email => question.user.id, :id => question.id) %></p>
                        <h6><%= question.user.name %>
                        <%= pluralize(question.answers.count, "answers") %></h6>
                    </div>
                <% end %>
            </div>
</div>