<% provide(:title, 'All Articles') %>

<div class="articleindexparent">
            <h2>Latest <%= params[:tag] %> Articles </h2>
    <div id="articlebox">
        <% @articles.each do |article| %>
            <div class="imageindexone">
                <%= image_tag article.image.url(:thumb) %>
            </div>
            <div class="articleindexone">
                <h3><%= link_to article.title, article_path(:id => article.id) %></h3>
                <h5><% article.tags.any? %>
                    Category:
                    <% article.tags.each do |tag| %>
                    <%= link_to tag.name, categorised_url(:tag => tag.name) %>
                    <% end %></h5>
                <h4> <%= article.headingone %></h4>
                   <h4> <%= article.headingtwo %></h4>
                    <h4><%= article.headingthree %></h4>
                    <h4><%= article.headingfour %></h4>
                <p><%= time_ago_in_words(article.created_at) %> ago
                <%= pluralize(article.sectionones.count + article.sectiontwos.count + article.sectionthrees.count + article.sectionfours.count, "comment") %></p>
            </div>
        <% end %>
    </div>
            <div id="latestquestions">
                <h2>LATEST QUESTIONS</h2>
                <% if @questions.any? %>
                <% @questions.find(:all, :limit => 5).each do |question| %>
                <div class="questionscontent">
                    <p><%= link_to truncate(question.content, :length => 50), user_question_path(:email => question.user.id, :id => question.id) %></p>
                        <h6><%= question.user.name %>
                        <%= pluralize(question.answers.count, "answers") %></h6>
                    </div>
                <% end %>
                <% else %>
                <div class="noarticles">
                    <h5>Nothing here yet</h5>
                </div>
                <% end %>
            </div>
</div>