<% provide(:title, @user.name) %>
<div class="showuserquestion">
  <h2><%= @user.name %></h2>
  <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#tab1" data-toggle="tab">Questions</a></li>
                  <li><a href="#tab2" data-toggle="tab">Followed Questions</a></li>
                  </ul>
                    <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                     <% @questions.each do |question| %>
                      <div id="userquestionindex">
                        <h3><%= link_to question.content, user_question_path(:email => question.user.id, :id => question.id) %>
                            <% if @user == current_user %>
                            <% question.answers.find(:all, :limit => 1, :order => 'created_at DESC').each do |answer| %>
                            <% if answer.created_at > @user.updated_at %>
                            <span class="badge"><%= link_to "New Answers", user_question_path(:email => question.user.id, :id => question.id) %></span></h3>
                            <% end %>
                            <% end %>
                            <% end %>
                          <% question.tags.any? %>
                          <h5>Category:
                          <% question.tags.each do |tag| %>
                          <%= link_to tag.name, tagged_url(:tag => tag.name) %></h5>
                            <% end %>
                          <p>Created: 
                        <%= time_ago_in_words(question.created_at) %> ago,
                        Answers: <%= question.answers.count %> 
                       <% if current_user == @user %>
                          <%= link_to 'Edit', edit_question_path(question) %>
                          <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                    <% end %>
                  </div>
                  <% end %>
                    </div>

                  <div class="tab-pane" id="tab2">
                     <% @followedquestions.each do |question| %>
                        <div id="userquestionindex">
                          <h3><%= link_to question.content, user_question_path(:email => question.user.id, :id => question.id) %>
                              <% if @user == current_user %>
                              <% question.answers.find(:all, :limit => 1, :order => 'created_at DESC').each do |answer| %>
                              <% if answer.created_at > @user.updated_at %>
                              <span class="badge"><%= link_to "New Answers", user_question_path(:email => question.user.id, :id => question.id) %></span></h3>
                              <% end %>
                              <% end %>
                              <% end %>
                            <% question.tags.any? %>
                            <h5>Category:
                            <% question.tags.each do |tag| %>
                            <%= link_to tag.name, tagged_url(:tag => tag.name) %></h5>
                              <% end %>
                            <p>Created: 
                          <%= time_ago_in_words(question.created_at) %> ago,
                          Answers: <%= question.answers.count %> 
                         <% if current_user == @user %>
                            <%= link_to 'Edit', edit_question_path(question) %>
                            <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                      <% end %>
                    </div>
                  <% end %>
                  </div>
                  </div>

<div id="newanswers">
  <h3><%= @user.name %></h3>
  <h4><%= pluralize(@user.questions.count, "Questions") %>
      <%= pluralize(@user.followed_questions.count, "Following") %></h4>
  <h4><%= pluralize(@user.answers.count, "Answers") %>
      <%= pluralize(@user.answers.sum(:cached_weighted_score) + @user.sectionones.sum(:cached_weighted_score) + @user.sectiontwos.sum(:cached_weighted_score) + @user.sectionthrees.sum(:cached_weighted_score) + @user.sectionfours.sum(:cached_weighted_score), "Score") %></h4>
       <% @user.answers.any? %>
      <div class="topanswers">
        <h4>Top Answers</h4>
        <% @user.answers.find(:all, :limit => 5).each do |answer| %>
        <p><%= link_to truncate(answer.answer_content, :length => 50), user_question_path(:email => answer.id, :id => answer.question_id) %>
          Score: <%= answer.cached_weighted_score %></p>
        <% end %>
      </div>
    </div>
  </div>
<%= will_paginate @questions, renderer: BootstrapPagination::Rails %>
