<div class="survey">
<h2>Consumer Tadka's For The Win</h2>
<div id="surveybody">
<h3>The Micromax #TELLUSMORE Contest</h3>
<%= image_tag("micromaxsurvey.jpg", :alt => "Micromax Survey") %></br></br>
<%= form_for(:survey) do |f| %>

<h4>Over the past decade, Micromax has pioneered the democratization of technology in India by offering affordable innovations through our product offerings and removing barriers for large scale adoption of advanced technologies. We are currently the 2nd largest smartphone company in India. Micromax is a brand which is close to the heart of the youth and celebrates the vibrancies of life and empowerment. Before the launch of our latest in the Canvas series, we are giving away 10 new Canvas S2s to consumers who have helped us achieve our dreams. Answer these questions correctly to win. The first 10 correct answers will the phone, worth Rs16,999</h4></br>

<h5>Which was the first Micromax phone to have a 5-inch 720p screen?</h5>
      <%= f.select :qone, options_for_select(["Select One", "Canvas A310", "Canvas A315", "Canvas AQ4510", "Canvas Knight", "Canvas XL2"],:disabled => ["Select One"]) %></br></br>

<h5>Which was the first Micromax phone to have a 5-inch 720p screen?</h5>
      <%= f.select :qtwo, options_for_select(["Select One", "Canvas A310", "Canvas A315", "Canvas AQ4510", "Canvas Knight", "Canvas XL2"],:disabled => ["Select One"]) %></br></br>

<h5>Which was the first Micromax phone to have a 5-inch 720p screen?</h5>
      <%= f.select :qthree, options_for_select(["Select One", "Canvas A310", "Canvas A315", "Canvas AQ4510", "Canvas Knight", "Canvas XL2"],:disabled => ["Select One"]) %></br></br>

<h5>Which was the first Micromax phone to have a 5-inch 720p screen?</h5>
      <%= f.select :qfour, options_for_select(["Select One", "Canvas A310", "Canvas A315", "Canvas AQ4510", "Canvas Knight", "Canvas XL2"],:disabled => ["Select One"]) %></br></br>

<h5>Which was the first Micromax phone to have a 5-inch 720p screen?</h5>
      <%= f.select :qfive, options_for_select(["Select One", "Canvas A310", "Canvas A315", "Canvas AQ4510", "Canvas Knight", "Canvas XL2"],:disabled => ["Select One"]) %></br></br>

<h5>Which was the first Micromax phone to have a 5-inch 720p screen?</h5>
      <%= f.select :qsix, options_for_select(["Select One", "Canvas A310", "Canvas A315", "Canvas AQ4510", "Canvas Knight", "Canvas XL2"],:disabled => ["Select One"]) %></br></br>

<h5>Which was the first Micromax phone to have a 5-inch 720p screen?</h5>
      <%= f.select :qseven, options_for_select(["Select One", "Canvas A310", "Canvas A315", "Canvas AQ4510", "Canvas Knight", "Canvas XL2"],:disabled => ["Select One"]) %></br></br>

<h5>Which was the first Micromax phone to have a 5-inch 720p screen?</h5>
      <%= f.select :qeight, options_for_select(["Select One", "Canvas A310", "Canvas A315", "Canvas AQ4510", "Canvas Knight", "Canvas XL2"],:disabled => ["Select One"]) %></br></br>

      <%= f.submit "Submit survey", class: "btn btn-success post" %>
    <% end %>
  </div>

  <div id="surveyquestions">
                    <h2>LATEST QUESTIONS</h2>
                <% @questions.find(:all, :limit => 5).each do |question| %>
                <div class="questionscontent">
                    <p><%= link_to truncate(question.content, :length => 50), user_question_path(:email => question.user.id, :id => question.id) %></p>
                        <h6><%= question.user.name %>
                        <%= pluralize(question.answers.count, "answers") %></h6>
                    </div>
                <% end %>
            </div>

  </div>
  </div>